/GhostBot.egg-info/dependency_links.txt
/GhostBot.egg-info/PKG-INFO
/GhostBot.egg-info/requires.txt
/GhostBot.egg-info/SOURCES.txt
/GhostBot.egg-info/top_level.txt
/log/update.log
.idea/

GhostBot/__pycache__/

*.pyc
/bin/build/
/bin/dist/
/GhostBot.egg-info/

login_conf.yml
